#overwiew{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.float{
    margin: 1rem;
}

.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.chartContainer{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    height: 21rem;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem;
}

tr td{
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 0.25rem;
}
table{
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.top-spenders{
    height: 100%;
    width: 100%;
}

.logo{
    width: 10rem;
    height: auto;
    padding-right: 2rem;
}
.top{
    flex-wrap: nowrap;
    justify-content: space-between;
}

#trendsChartContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    height: 15rem;
}
.table{
    overflow: scroll !important;
}
fieldset{
    border: 2px solid #0000004f;
    border-radius: 0.5rem;
}
legend{
    background-color: #0000004f;
    border-radius: 0.25rem;
    font-size: larger;
}

#userTable{
    width: 100%;
}
#sticky{
    position: sticky;
    top: 0;
    background-color: white;
}
.formElement{
    text-align: center;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    width: 15rem;
}
.formElement input{
    width: 100%;
}
.formElement select{
    width: 100%;
}
fieldset #userDataTutorial{
    text-align: center;
}
#userDataTutorial{
    font-size: large;
}
